# Je met rien dans le gitignore. C'est vrai exprès.
# Le but, c'est de versionner aussi les binaires, pour pouvoir plus facilement récupérer et réutiliser le projet.
# Libre à d'autres de le recompiler from scratch, il y a, à priori, tous les éléments nécessaires.